<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.info.simple.dao.permission.RoleDao">
    <!-- 根据分页参数查询数据集合 -->
    <select id="findRoles" resultType="com.cisdi.info.simple.entity.permission.Role" parameterType="com.cisdi.info.simple.dto.base.PageDTO">
        select
        t0.eid  ,
        t0.code  ,
        t0.name  ,
        t0.remark  ,
        t0.create_id  ,
        t0.create_datetime  ,
        t0.update_id  ,
        t0.update_datetime  
        from simple_role t0
            where  ${sql}
        ORDER BY t0.create_datetime
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据查询所有数据集合 -->
    <select id="findAllRoles" resultType="com.cisdi.info.simple.entity.permission.Role" >
        select
            t0.eid  ,
            t0.code  ,
            t0.name  ,
            t0.remark  ,
            t0.create_id  ,
            t0.create_datetime  ,
            t0.update_id  ,
            t0.update_datetime  
        from simple_role t0
        ORDER BY t0.create_datetime
    </select>

    <!-- 根据查询所有数据集合,只提取ID 和 Name -->
    <select id="findAllRolesWithIdName" resultType="com.cisdi.info.simple.entity.permission.Role" >
        select
            t0.EId,t0.Name
        from simple_role t0
        ORDER BY t0.Name
    </select>

    <!-- 根据分页参数查询数据集合总条数 -->
    <select id="findRoleTotalCount" resultType="java.lang.Long" parameterType="com.cisdi.info.simple.dto.base.PageDTO">
        select count(EId) as totalCount from simple_role as t0 where ${sql}
    </select>

    <!--  根据Id查询 -->
    <select id="findRole" resultType="com.cisdi.info.simple.entity.permission.Role" parameterType="java.lang.Long">
        select * from simple_role where eid = #{roleId}
    </select>

    <!-- -->
    <select id="findRoleWithForeignName" resultType="com.cisdi.info.simple.entity.permission.Role" parameterType="java.lang.Long">
        select
            t0.eid  ,
            t0.code  ,
            t0.name  ,
            t0.remark  ,
            t0.create_id  ,
            t0.create_datetime  ,
            t0.update_id  ,
            t0.update_datetime  
        from simple_role t0
        where t0.eid = #{roleId}
    </select>


    <!--  保存 -->
    <select id="saveRole" resultType="com.cisdi.info.simple.entity.permission.Role" parameterType="com.cisdi.info.simple.entity.permission.Role">
        insert into simple_role
        (
                code ,
                name ,
                remark ,
                create_id ,
                create_datetime ,
                update_id ,
                update_datetime 
        )
        values
        (
                #{code} ,
                #{name} ,
                #{remark} ,
                #{createId} ,
                #{createDatetime} ,
                #{updateId} ,
                #{updateDatetime} 
        )
    </select>

    <!--  编辑 -->
    <select id="updateRole" resultType="com.cisdi.info.simple.entity.permission.Role" parameterType="com.cisdi.info.simple.entity.permission.Role" >
        update simple_role set
                code = #{code} ,
                name = #{name} ,
                remark = #{remark} ,
                create_id = #{createId} ,
                create_datetime = #{createDatetime} ,
                update_id = #{updateId} ,
                update_datetime = #{updateDatetime} 
        where eid=#{EId}
    </select>


    <!--  根据Id删除 -->
    <select id="deleteRole" resultType="java.lang.Integer" parameterType="java.lang.Long">
        delete from simple_role where eid = #{roleId}
    </select>

    <!--  根据code查询 -->
    <select id="findRoleByCode" resultType="com.cisdi.info.simple.entity.permission.Role" parameterType="java.lang.String">
        select * from simple_role where code = #{code}
    </select>
    <!--  根据name查询 -->
    <select id="findRoleByName" resultType="com.cisdi.info.simple.entity.permission.Role" parameterType="java.lang.String">
        select * from simple_role where name = #{name}
    </select>
</mapper>