#set($packageName=${entityClass.packages})
#set($extension=".java")
#set($path="${config.serverPath}/src/main/java/${entityClass.packages.replace('.', '/')}")
#set($outputFile="${path}/${entityClass.className}${extension}")
package ${entityClass.packages};

import com.cisdi.info.simple.entity.base.*;
import javax.persistence.*;
import java.io.Serializable;
import com.cisdi.info.simple.annotation.DColumn;
import com.cisdi.info.simple.annotation.DEntity;
${importArea}

@DEntity(label="${entityClass.label}",comment="${entityClass.comment}",moduleLabel="${entityClass.moduleLabel}")
@Entity(name="${entityClass.subSystemName}_${entityClass.tableName}")
public class ${entityClass.className} extends BaseEntity implements Serializable{
	private static final long serialVersionUID = 1L;

${fieldArea}
${funcArea}
	
}