#set($vmType="service")
#set($extension=".java")
#set($packageName="${entityClass.packages.replace('entity', $vmType)}")
#set($EntityNameUp="${entityClass.className}")
#set($EntityNameLow="${entityClass.className.substring(0,1).toLowerCase()}${entityClass.className.substring(1)}")
#set($className="${entityClass.className}${stringUtils.capitalize(${vmType})}")
#set($path="${config.serverPath}/src/main/java/${packageName.replace('.', '/')}")
#set($outputFile="${path}/$className${extension}")
package ${packageName};

import com.cisdi.info.simple.dto.base.PageResultDTO;
import ${entityClass.clazz.name};
import com.cisdi.info.simple.dto.base.PageDTO;

import java.util.List;

public interface ${className} {

    public PageResultDTO find${EntityNameUp}s(PageDTO pageDTO);

    public List<${EntityNameUp}> findAll${EntityNameUp}s();

    public List<${EntityNameUp}> find${EntityNameUp}sWithIdNameByName(String ${EntityNameLow}Name);

    public List<${EntityNameUp}> findAll${EntityNameUp}sWithIdName();

    public ${EntityNameUp} find${EntityNameUp}sWithIdNameById(Long ${EntityNameLow}Id);

    public ${EntityNameUp} find${EntityNameUp}(Long ${EntityNameLow}Id);

    //所有外键的Name都以加载
    public ${EntityNameUp} find${EntityNameUp}WithForeignName(Long ${EntityNameLow}Id);

    public ${EntityNameUp} save${EntityNameUp}(${EntityNameUp} ${EntityNameLow});

    public ${EntityNameUp} update${EntityNameUp}(${EntityNameUp} ${EntityNameLow});

    public void delete${EntityNameUp}(Long ${EntityNameLow}Id);
}
