<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.info.simple.dao.test.TestDao">
    <!-- 根据分页参数查询数据集合 -->
    <select id="findTests" resultType="com.cisdi.info.simple.entity.test.Test" parameterType="com.cisdi.info.simple.dto.base.PageDTO">
        select
        t0.eid  ,
        t0.name  ,
        t0.code  ,
        t0.link_tel  ,
        t0.organization_id  ,
        t0.sex  ,
        t0.birth_date  ,
        t0.remark  ,
        t0.create_id  ,
        t0.create_datetime  ,
        t0.update_id  ,
        t0.update_datetime  
        ,t5.name as organization_name

        from simple_test t0
            LEFT JOIN simple_organization t5 on t0.organization_id =t5.EId
        where  ${sql}
        ORDER BY t0.create_datetime
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据查询所有数据集合 -->
    <select id="findAllTests" resultType="com.cisdi.info.simple.entity.test.Test" >
        select
            t0.eid  ,
            t0.name  ,
            t0.code  ,
            t0.link_tel  ,
            t0.organization_id  ,
            t0.sex  ,
            t0.birth_date  ,
            t0.remark  ,
            t0.create_id  ,
            t0.create_datetime  ,
            t0.update_id  ,
            t0.update_datetime  
            ,t5.name as organization_name

        from simple_test t0
            LEFT JOIN simple_organization t5 on t0.organization_id =t5.EId
        ORDER BY t0.create_datetime
    </select>

    <!-- 根据名称查询数据集合,只提取ID 和 Name -->
    <select id="findTestsWithIdNameByName" resultType="com.cisdi.info.simple.entity.test.Test" parameterType="java.lang.String">
        select
            t0.EId,t0.Name
        from simple_test t0
        where t0.name like  '%${testName}%'
        ORDER BY t0.Name
    </select>


    <!-- 查询所有数据集合,只提取ID 和 Name -->
    <select id="findAllTestsWithIdName" resultType="com.cisdi.info.simple.entity.test.Test" >
        select
        t0.EId,t0.Name
        from simple_test t0
        ORDER BY t0.Name
    </select>
    
    <!-- 查询指定的实体,只提取ID 和 Name -->
    <select id="findTestsWithIdNameById" resultType="com.cisdi.info.simple.entity.test.Test" parameterType="java.lang.Long">
        select
        t0.EId,t0.Name
        from simple_test t0
        where eid = #{testId}
    </select>



    <!-- 根据分页参数查询数据集合总条数 -->
    <select id="findTestTotalCount" resultType="java.lang.Long" parameterType="com.cisdi.info.simple.dto.base.PageDTO">
        select count(EId) as totalCount from simple_test as t0  where ${sql}
    </select>

    <!--  根据Id查询 -->
    <select id="findTest" resultType="com.cisdi.info.simple.entity.test.Test" parameterType="java.lang.Long">
        select * from simple_test where eid = #{testId}
    </select>

    <!-- 根据ID查询指定的实体(包含外键) -->
    <select id="findTestWithForeignName" resultType="com.cisdi.info.simple.entity.test.Test" parameterType="java.lang.Long">
        select
            t0.eid  ,
            t0.name  ,
            t0.code  ,
            t0.link_tel  ,
            t0.organization_id  ,
            t0.sex  ,
            t0.birth_date  ,
            t0.remark  ,
            t0.create_id  ,
            t0.create_datetime  ,
            t0.update_id  ,
            t0.update_datetime  
            ,t5.name as organization_name

        from simple_test t0
            LEFT JOIN simple_organization t5 on t0.organization_id =t5.EId
        where t0.eid = #{testId}
    </select>


    <!--  保存 -->
    <insert id="saveTest" parameterType="com.cisdi.info.simple.entity.test.Test">
        <selectKey keyProperty="EId" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into simple_test
        (
                name ,
                code ,
                link_tel ,
                organization_id ,
                sex ,
                birth_date ,
                remark ,
                create_id ,
                create_datetime ,
                update_id ,
                update_datetime 
        )
        values
        (
                #{name} ,
                #{code} ,
                #{linkTel} ,
                #{organizationId} ,
                #{sex} ,
                #{birthDate} ,
                #{remark} ,
                #{createId} ,
                #{createDatetime} ,
                #{updateId} ,
                #{updateDatetime} 
        )
    </insert>

    <!--  编辑 -->
    <update id="updateTest" parameterType="com.cisdi.info.simple.entity.test.Test" >
        update simple_test set
                name = #{name} ,
                code = #{code} ,
                link_tel = #{linkTel} ,
                organization_id = #{organizationId} ,
                sex = #{sex} ,
                birth_date = #{birthDate} ,
                remark = #{remark} ,
                create_id = #{createId} ,
                create_datetime = #{createDatetime} ,
                update_id = #{updateId} ,
                update_datetime = #{updateDatetime} 
        where eid=#{EId}
    </update>


    <!--  根据Id删除 -->
    <delete id="deleteTest"  parameterType="java.lang.Long">
        delete from simple_test where eid = #{testId}
    </delete>

    <!--  根据code查询 -->
    <select id="findEmployeeByCode" resultType="com.cisdi.info.simple.entity.organization.Employee" parameterType="java.lang.String">
        select * from simple_employee where code = #{code}
    </select>

</mapper>